body{
	background-color:#d1d6d6;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: black;
	margin-bottom: 30px;
}

header nav ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-top: 20px;
}
a{
	text-decoration: none;
	color: white;
	margin:25px;
	font-size:20px;
	
}
h1{
	color: orange;
	font-size: 40px;
	margin-left: 15px;
}

h2 {
	display: inline;
	padding: 10px;
	color: #23d3dc;
	font-family: "Gelasio";
	background-color: #2c2c2c;
}

section{
	margin-top: 40px;
}

p{
	font-family: "Roboto";
	margin-left: 10px;
}

ol,ul,li {
	font-family: "Roboto";
}

#photo{
	float: right;
	width: 200px;
	margin: 20px;
	padding: 5px;
	background-color: purple;
}

img {
	width: 50px;
}